* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: black;
    height: 120px;
}

.title-principal {
    text-align: center;
    position: relative;
    display: inline-block;
}

.title-principal::after {
    content: '';
    display: block;
    margin: auto;
    height: 4px; /* Espessura da borda */
    width: 50%; /* Metade da largura do elemento */
    background-color: #FFD700; /* Cor da borda */
    position: absolute;
    bottom: -10px; /* Ajuste conforme necessário */
    left: 0;
    right: 200px;
  }

.cabecalho ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    margin-left: 500px;
    margin-top: 60px;

}

.cabecalho li {
    margin-right: ;
}

.cabecalho a {
    text-decoration: none;
    color: #fff;
    font-size: 21px;
}

.logomarca {
    width: 300px;
    height: 120px;
}

.img-sobre {
    width: 700px;
    height: 700px;
}

.resumo-sobre {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.resumo-sobre p {
    width: 600px;
    margin-top: 20px;
    margin-left: 50px;
}

.resumo-sobre span {
    color: #FFD700;
    font-size: 50px;
    font-family: Impact, fantasy;
}